/* .w-full.text-center.px-10.pt-6.pb-10.m-auto.text-13 {
    display: none;
} */
/* 
#lite-badge.lite-badge {
    display: none;
}

.text-\[13px\] {
    display: none;
} */


/* .w-full.text-center.px-\[10px\].pt-\[6px\].pb-\[10px\].m-auto.text-\[13px\]>a.lite-badge {
    display: none;
} */

/* span {
    display: none;
} */

/* a {
    pointer-events: none;
} */

/* .poweredByText {
    display: none;
} */